@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>Hier kan je de live telemetrie zien van Robert de Robot.</p>
</div>
