@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hier kan je de live telemetrie zien van Robert de Robot.</p>
    <span asp-for="weight">@Model.weight</span>
    <br>
    <span asp-for="rpm">@Model.RPM</span>
    <form asp-page-handler="server" method="post">
        <button class="btn btn-default">haal data op</button>
    </form>
    <form asp-page-handler="reset" method="post">
        <button class="btn btn-default">Reset</button>
    </form>
</div>
