@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<article>
    <img src="Images/logo.jpg" alt="Logo" class="links" style="width: 350px;">

    <h2>Wat doet Robert:</h2>

    <p>
        Op deze pagina gaan we live tracken wat Robert aan het doen is. Zo kun je hier zien hoeveel het object weegt wat Robert op de weegschaal heeft liggen.
    </p>


    <div class="container69">
        <div><strong>Current Weight:</strong><br> <span asp-for="weight">@Model.weight</span> </div>
        <div><strong>Current Something:</strong> <bR> <span asp-for="rpm">@Model.RPM</span></div>
    </div>
    <form asp-page-handler="server" method="post">
        <button class="btn btn-default">haal data op</button>
    </form>
    <form asp-page-handler="reset" method="post">
        <button class="btn btn-default">Reset</button>
    </form>
</article>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Hier kan je de live telemetrie zien van Robert de Robot.</p>
        <span asp-for="weight">@Model.weight</span>
        <br>
        <span asp-for="rpm">@Model.RPM</span>
        <form asp-page-handler="server" method="post">
            <button class="btn btn-default">haal data op</button>
        </form>
        <form asp-page-handler="reset" method="post">
            <button class="btn btn-default">Reset</button>
        </form>
    </div>*@
