@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="subheader">
    Hier kun je live zien wat robert aan het doen is!
</h2>
<hr>
<article>
    <img src="Images/logo.jpg" alt="twee taxis" class="links" style="width: 350px;">

    <h2>Wat doet Robert:</h2>

    <p>
        Op deze pagina gaan we live tracken wat Robert aan het doen is. Zo kun je zien hoe snel Robert op het moment rijd,
        hoeveel torque hij heeft en hoe dicht hij op de muur zit.
    </p>





    <div class="container69">
        <div><strong>Current Speed:</strong><br> 69kph</div>
        <div><strong>Current Torque:</strong> <bR> 420rpm</div>
        <div><strong>Current Wall distance:</strong> <br> 69cm</div>
    </div>

</article>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hier kan je de live telemetrie zien van Robert de Robot.</p>
    <span asp-for="weight">@Model.weight</span>
    <br>
    <span asp-for="rpm">@Model.RPM</span>
    <form asp-page-handler="server" method="post">
        <button class="btn btn-default">haal data op</button>
    </form>
    <form asp-page-handler="reset" method="post">
        <button class="btn btn-default">Reset</button>
    </form>
</div>
